.preview-container {
  padding: 24px 0 24px 24px;
  white-space: pre-wrap;
  width: 500px;
  flex-shrink: 0;
}

.demo-container {
  border-radius: 6px;
  padding-top: 24px;
  padding-bottom: 24px;
  position: relative;
}
