.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.scroll-down-animation {
  animation: Scroll-down infinite 2s linear both;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes Scroll-down {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(20px);
  }
}

@keyframes Clip-Button-Border {
  0%,
  100% {
    clip: rect(0px, calc(var(--button-width) + 10px), 2px, 0px);
    border-color: #d24625;
  }
  25% {
    clip: rect(
      0px,
      calc(var(--button-width) + 10px),
      calc(var(--button-height) + 10px),
      calc(var(--button-width) - 2px)
    );
    border-color: #2a5699;
  }
  50% {
    clip: rect(
      calc(var(--button-height) - 2px),
      calc(var(--button-width) + 10px),
      calc(var(--button-height) + 10px),
      0px
    );
    border-color: #207245;
  }
  75% {
    clip: rect(0px, 2px, calc(var(--button-height) + 10px), 0px);
    border-color: #f2801f;
  }
}
