@font-face {
  font-family: 'Roboto Condensed';
  src: url('./fonts/RobotoCondensed-VariableFont_wght.ttf');
}
@font-face {
  font-family: 'Work Sans';
  src: url('./fonts/WorkSans-VariableFont_wght.ttf');
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.z-alert {
  z-index: 10000000000 !important;
}

iframe#webpack-dev-server-client-overlay {
  display: none !important;
}
