html,
body {
  height: 100%;
  overflow-y: scroll;
}
body {
  background-image: radial-gradient(#333 1px, transparent 0), radial-gradient(#222 1px, transparent 0);
  background-position: 0 0, 25px 25px;
  background-attachment: fixed;
  background-size: 50px 50px;
}

main {
  padding: 0 !important;
}

.with-label,
.input-container {
  width: 100% !important;
}

.caption {
  margin-top: 0 !important;
  text-align: left !important;
  width: 100% !important;
  padding: 18px 0 8px 0 !important;
  max-width: 100% !important;
}

.select-dropdown.max-content-dropdown {
  width: max-content !important;
}

ul li::before {
  position: relative !important;
  content: '*' !important;
}

.config-tip {
  position: absolute;
  right: 0px;
  top: 50%;
  transform: translateY(-50%);
}

.svg-cursor-pointer {
  cursor: pointer;
}

@media screen and (max-width: 600px) {
  .smile-tip {
    margin-bottom: 10px !important;
  }
}

input[type='file'] {
  opacity: 0;
  cursor: pointer;
  width: 34px;
  height: 36px;
  font-size: 0;
  position: absolute;
  left: 0;
}
::placeholder {
  font-size: 12px;
}

.toast {
  width: auto !important;
}

.autosize {
  max-width: 100% !important;
}
